.u_top_w{background: #660000;height: 100px;}
.u_top{width: 980px;margin: 0 auto;position: relative;height: 50px;}
.u_top .logo{position: absolute;top: 10px;}
.u_top .ad{position: absolute;left: 200px;top: 50%;}
.u_wrap{padding-bottom: 50px;background: #C4D4ED url(../img/user/bg.png) no-repeat 30% 2px;}
.u_main{margin-top: 100px;padding-bottom: 50px;}
.u_r_bg{background: #A1C0EF;}
.u_tit{text-align: center;margin-top: 30px;color: #fff;}
.u_main .input_w{
	width: 100%;
	height: 40px;
	margin-top: 20px;
}
.u_bg{background:#C4D4ED; }
.u_main .l_input{
	height: 35px;
	width: 280px;
	background: #fff;
	line-height: 35px;
	float: left;
	padding-right: 20px;
	padding-left: 5px;
}
.input_w .u_tips,.input_w .u_wtips{
	width: 220px;
	height: 35px;
	line-height: 35px;
	float: left;
	background: #cae7fb;
	position: relative;
	margin-left: 30px;
	border: 1px solid #99ccff;
	padding-left: 40px;
	margin-top: 2px;
}
.u_tips_i{
	width: 8px;height: 12px;
	background: url(../img/input.png) no-repeat 0 -83px;
	position: absolute;
	left: -8px;
	top: 10px;
	display: block;
}
.u_tips_s{
	width: 16px;
	height: 16px;
	background: url(../img/input.png) no-repeat 0 -50px;
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
}
.input_w .u_wtips{background: #ffecec;border: 1px solid #f5acad;}
.u_wtips .u_tips_i{background: url(../img/input.png) no-repeat -8px -83px;}
.u_wtips .u_tips_s{background: url(../img/input.png) no-repeat 0px -66px;}
.u_accept{margin-top: 20px;color: #fff;}
.u_accept a{color: #fff;}
.vm{vertical-align: middle;}
.u_main .btn_box{width: 300px;text-align: center;margin-top: 20px;}
.btn_box .l_submit{width: 170px;height: 42px;background: url(../img/btn.png) no-repeat;border: none;cursor: pointer;color: #fff;letter-spacing: 10px;font-size: 16px;}
.btn_box .l_submit:hover{background: url(../img/btn.png) no-repeat 0 -42px;}
.btn_box .r_submit{width: 128px;height: 38px;background: url(../img/btn.png) no-repeat 0 -85px;border: none;cursor: pointer;color: #fff;letter-spacing: 10px;font-size: 16px;}
.u_getnum{height: 37px;line-height: 37px;padding: 0 10px;font-size: 14px;background: url(../img/repeat.png) 0 -240px;border-left: 1px solid #c4bfc0;border-right: 1px solid #c4bfc0;display: inline-block;color: #333;}
.u_info{ border-left: 1px solid #FFFFFF; height: 275px;margin-top: 100px;padding-top: 38px;}
.u_info h2{	font-size: 16px;color: #666;}
.u_info h2 a{color: #eee838;}
.u_info ul{margin-left: 10px;margin-top: 30px;color: #fff;font-size: 14px;font-style:italic;margin-right: 10px;}
.u_info ul li{margin-bottom: 30px;padding-left: 25px;line-height: 25px;position: relative;}
.u_info li i{display: block;position: absolute;background: url(../img/input.png) no-repeat 0 -95px;width: 20px;height: 20px;left: 0;top: 8px;}
.u_footer{color: #fff;text-align: center;font-size: 14px;margin-top: 20px;}
.u_footer a{color: #fff;}
.u_footer a:hover{color: #FA7603;}
.u_login{width: 480px;height: 330px;background: #fff;padding-bottom: 30px;position: relative;z-index: 2;}
.u_login .u_tit{color: #444;}
.ml50{margin-left: 50px;}
.u_login .u_accept{color: #444;}
.u_l_info{background: url(../img/user/r.png) no-repeat right;height: 360px;position: relative;}
.u_l_info .r_btn{ background: url(../img/btn.png) no-repeat;border: medium none;color: #FFFFFF;cursor: pointer;font-size: 16px;height: 42px;letter-spacing: 10px;line-height: 42px;position: absolute;right: 260px;text-align: center;top: 248px;width: 170px;}
.u_l_info .r_btn:hover{background: url(../img/btn.png) no-repeat 0 -42px;}
.quick_menu{width:145px;position: absolute;right: 0;top: 10px;overflow: visible;}
.quick_menu ul{position: relative;}
.quick_menu li{float: right;}
#link_setting,#link_msg{margin:0 10px;border-radius: 2px 2px 0 0;cursor: pointer;display: block;height: 40px;padding: 0 15px;}
#link_setting.active,#link_msg.active{background: #626A6F;}
.quick_menu #icon_face{display: inline-block;height: 20px;width: 20px;margin-top: 8px;}
.quick_menu #icon_msg{background: url(../img/icon.png) no-repeat; width: 16px;height: 14px;display: inline-block;margin-top: 13px;}
#icon_msg.active{background: url(../img/icon.png) no-repeat 0 -16px;}
.quick_menu_box{width:300px;background: #626A6F;border-radius: 2px;position: absolute;left: -80px;display: none;top: 34px;z-index: 1000;}
.quick_menu_con{background: #fff;margin: 0 5px 5px 5px;}
.quick_menu_box h2{margin: 10px 15px;font-size: 14px;color: #fff;}
.quick_menu_box .p_info,.quick_menu_box .p_msg{
	width: 100%;line-height: 25px;
    border-collapse: collapse;
    border-spacing: 0;
}
.quick_menu_box table tr td.data-icon {
    text-align: center;
    width: 50px;
}
.quick_menu_box table tr td {
    border-bottom: 1px dotted #CCCCCC;
    padding: 4px 0;
    text-align: left;
}
.quick_menu_box table tr:hover{background: #eee;}
.quick_menu_box table tr td.data-menu {
    padding-right: 10px;
    text-align: right;
    width: 80px;
}
.quick_menu_box .p_info tr:last-of-type td {
    border-bottom: 0 none;
}
.quick_menu_box .p_msg tr:hover{background: none;}
.data-icon .p_face{width: 30px;height: 30px;margin-top: 5px;}
.icon{
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    vertical-align: text-top;
    width: 24px;
}
.icon-settings-profile {
    background-position: 0 -29px;margin-top: 2px;
}
.icon-settings-password {
    background-position: 0 -44px;margin-top: 2px;
}
.icon-settings-privacy {
    background-position: 0 -59px;margin-top: 2px;
}
.icon-settings-help {
    background-position: 0 -74px;margin-top: 2px;
}
/*简历*/
.matchbox-wrap .sync {
    clear: both;
}

.sidecolumnwrap {
    float: left;
    width: 268px;
}
.sidecolumn {
    background: none repeat #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 268px;
}
.drag-model {
    box-shadow: 2px 2px 0 #D2D3D4;
}
.maincolumn {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    float: right;
    overflow: hidden;
    width: 675px;
}
.border-bottom {
    border-bottom: 1px solid #D9D9D9;
}
.dashboard {
    background-image: url("http://8.assets.dajieimg.com/up/resume/images/progress-panel-2.png");
    background-repeat: no-repeat;
    height: 141px;
    overflow: hidden;
    padding-top: 1px;
}
.dashboard .inner {
    background-image: url("http://2.assets.dajieimg.com/up/resume/images/progress-panel1.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 20px;
    height: 60px;
    margin: 15px 0 0 22px;
    padding: 30px 0 0;
    text-align: center;
    width: 92px;
}
.dashboard .i-2 {
    background-position: 0 0;
}
.dashboard .i-3 {
    background-position: 0 -153px;
}
.dashboard .i-4 {
    background-position: 0 -306px;
}
.dashboard .i-5 {
    background-position: 0 -459px;
}
.dashboard .i-6 {
    background-position: 0 -612px;
}
.dashboard .i-7 {
    background-position: 0 -765px;
}
.dashboard .i-8 {
    background-position: 0 -918px;
}
.dashboard .i-9 {
    background-position: 0 -1071px;
}
.dashboard .i-10 {
    background-position: 0 -1224px;
}
.propress-s {
    background-position: 0 0;
}
.propress-m {
    background-position: 0 -142px;
}
.propress-l {
    background-position: 0 -284px;
}
.resume-item-box {
    padding: 0 30px;
}
.item-list dd, .disable-list dd {
    background: url(../img/item-arrow.gif) no-repeat 0 15px;
    border-bottom: 1px solid #E6E6E6;
    height: 15px;
    line-height: 15px;
    padding: 10px 0 10px 13px;
}
.item-list .true, .disable-list .true {
    background: url(../img/icon.png) no-repeat 0 -89px;
    display: inline-block;
    float: right;
    height: 8px;
    margin-top: 3px;
    width: 11px;
}
.item-list .false, .disable-list .false {
    color: #CCCCCC;
    float: right;
}
.bottom-bar {
    padding: 20px 0;
    text-align: right;
}
.bottom-bar a {
    background: url(../img/icon.png) no-repeat 0 -97px;
    color: #127DB3;
    padding-left: 20px;
}
.item-section {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D9D9D9 #D9D9D9 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}
.item-section h3 {
    background: none repeat #F4F4F4;
    height: 26px;
    line-height: 26px;
    padding: 5px 20px;
    z-index: 9;
}
.edit-btn {
    background: url(../img/edit-btn.gif) no-repeat 0 0 ;
    color: #333333;
    float: right;
    height: 26px;
    line-height: 26px;
    padding-left: 25px;
    width: 40px;
    font-weight: normal;
    font-size: 12px;
}
.edit-btn:hover {
    color: #333333;
    text-decoration: none;
}
.add-btn {
    background: url(../img/edit-btn.gif) no-repeat 0 -26px;
    color: #333333;
    float: right;
    height: 26px;
    line-height: 26px;
    padding-left: 25px;
    width: 40px;
    font-weight: normal;
    font-size: 12px;
}
.add-btn:hover {
    color: #333333;
    text-decoration: none;
}
.item-bd {
    background: none repeat #FFFFFF;
    padding: 20px 48px;
}
.info-area th {
    color: #999999;
    text-align: left;
}
#base-info th, #contact-info th {
    padding-right: 15px;
    text-align: right;
}
.info-area td {
    padding: 6px 0;
}

.info-area thead td {
    border-bottom: 1px solid #E6E6E6;
    color: #999999;
}
.item-bd .table-list td, .item-bd .table-list th {
    border-bottom: 1px solid #F3F3F3;
}
.item-bd .table-list .edit {
    margin-right: 10px;
}
.blank-area {
    padding: 20px 0;
    text-align: center;
}
.hidden .blank-area {
    display: none;
}
.hidden .hidden-tr {
    display: none;
}
.u-photo {
    float: right;
    overflow: hidden;
    width: 135px;
}
.u-photo .photo-area {
    border: 1px solid #CCCCCC;
    height: 130px;
    position: relative;
    width: 130px;
}
.u-photo .photo-area img {
    display: block;
    height: 130px;
    width: 130px;
}

.photo-mask {
    background: none repeat #FFFFFF;
    height: 130px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 130px;
}
.showphoto {
    padding: 15px 0;
    text-align: center;
}

.dig-selected em.sheng {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 4px 2px;
    white-space: nowrap;
}
.city {
    width: 125px;
}
.workyear {
    width: 255px;
}
.sidecolumn .mask-area {
    position: relative;
    z-index: 9;
}
.item-section .locked {
    position: relative;
    z-index: 9;
}
.resume-masking {
    background: none repeat #FFFFFF;
    display: none;
    left: -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.locked .resume-masking {
    display: block;
}
.locked .t-color {
    color: #666666;
}
.disable {
    color: #999999;
    cursor: default;
}
.disable:hover {
    color: #999999;
    text-decoration: none;
}
a.disable span {
    color: #999999;
    cursor: default;
}
a.disable:hover {
    color: #999999;
    cursor: default;
    text-decoration: none;
}

.item-bd .table-list .form-area td, .item-bd .table-list .form-area th {
    border: medium none;
}
#profile-birthdate-input-year, #profile-birthdate-input-month {
    width: 68px;
}
#profile-birthdate-input-date {
    width: 66px;
}
.exam-select {
    margin-right: 10px;
    width: 200px;
}
.drag-tips {
    display: none;
}
.drag-model .drag-tips {
    color: #666666;
    line-height: 22px;
    margin: 7px 0 17px;
}
.drag-model .resume-item-box {
    padding: 0 20px;
}
.drag-model .item-list dd, .drag-model .disable-list dd {
    background-color: #E6F0F5;
    background-position: 10px 12px;
    border-bottom: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    cursor: all- margin-bottom: 5px;
    padding: 8px 10px 8px 23px;
}
.drag-model .disable-list dd {
    color: #999999;
    cursor: default;
}
.hidden-list, .drag-model-tit {
    display: none;
}
.hidden-list {
    padding-top: 15px;
}
.hidden-item {
    display: none;
}
.drag-model .hidden-list, .drag-model .drag-model-tit {
    display: block;
}

.g9 {
	color: #999;
}
.datatime {
	font-family: "宋体";
	color: #ccc;
}
.g3 {
	color: #333;
}
.g6 {
	color: #666;
}
.gc {
	color: #ccc;
}
.orange {
	color: #fd5400;
}
a.orange:hover {
	color: #fd5400;
}
.red {
	color: #f00;
}
.green {
	color: #20800D;
}
.highlight {
	color: #E65C17;
}
.fwy-highlight {
	color: #d56e00;
}
.surface {
	color: #E65C17;
}
.hasbeen {
	color: #1687D9;
}
select {
	vertical-align: middle;
	font: inherit;
	height: 20px;
}
.options {
	float: right;
	display: block;
}
.error {
	color: red;
}
label.checkbox, label.radio, label.text {
	padding: 0 6px 0 4px;
	padding: 0 0 0 4px\9;
	_padding: 0 0 0 2px;
	vertical-align: middle;
}
.ua-ie6 label.checkbox, .ua-ie6 label.radio, .ua-ie6 label.text {
	vertical-align: baseline;
}
.ua-ie6 input.checkbox {
	vertical-align: baseline;
}
.small {
	font-size: 12px;
}
.large {
	font-size: 14px;
}
table.f14 td, .f14 {
	font-size: 14px;
}
.f12 {
	font-size: 12px;
	font-weight: normal;
}
.f16 {
	font-size: 16px;
}
.f20 {
	font-size: 20px;
}
.borderNone {
	border: none;
}
.b{font-weight: bold;}

.nav2-box {
	position: relative;
	width: 980px;
	border-bottom: 1px solid #aaa;
	height: 35px;
	
}
.nav2-box .new-job {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
}
.nav2-box .icon16 {
	margin-right: 9px;
}
.nav2 {
	height: 35px;
	padding-left: 0;
	border: none;
	margin-bottom: -1px;
	position: absolute;
}
.nav2 li {
	float: left;
	padding-right: 5px;
	width: 110px;

}
.nav2 .active{
	background: #525D6A;
	color: #fff;
}
.nav2 li a {
	display: block;
	height: 35px;
	padding-left: 4px;
	background: url(../img/repeat.png) repeat-x;
	background-position: 0 -62px;
	color: #333;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
}
#header, #content {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
#header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.subsubNav {
	margin: 10px auto;
	width: 980px;
	padding-left: 20px;
}
.subsubNav a {
	cursor: pointer;
	line-height: 35px;
}
.subsubNav em {
	margin: 0 4px 0 8px;
	display: inline-block;
	color: #ccc;
}
.resume_bg{
	background: url(../img/user/jianbg.png) repeat-x;
}
.resume{
	background: url(../img/user/jian.jpg) no-repeat center 0;
	padding-top: 140px;
}


/*---------------------------preview resume-----------------------------*/
.g-yahei {
    font-family: "MicroSoft YaHei","SimHei";
}
.bge{background: #eee;}
.preview-header {
	background: url(../img/user/r-logo.png) no-repeat 0 10px;
    height: 50px;
    margin: auto;
    padding-bottom: 10px;
    width: 800px;
    margin-top: 20px;
}
.preview-header .opt-box {
    margin-top: 26px;
}
.opt-box .k-btn-r{
	background: url(../img/repeat.png) repeat-x;
	display: inline-block;
	height: 25px;
	width: 60px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ddd;
}
.preview-main {
    background: none repeat #FFFFFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 804px;
    font-family: "verdana";
}
.preview-main .main-wrap {
    min-height: 410px;
    padding: 45px 73px;
    width: 654px;
}
.pre-photo {
    border: 1px solid #D9D9D9;
    float: right;
    height: 120px;
    margin-left: 15px;
    width: 120px;
}
.pre-photo img {
    height: 120px;
    width: 120px;
}
.pre-base {
    padding-bottom: 45px;
}
.pre-base h2 {
    font-size: 26px;
    line-height: 1.4;
    padding-bottom: 12px;
    font-weight: normal;
}
.pre-base h2 span {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
}
.pre-base p {
    color: #666666;
    line-height: 24px;
}
.pre-item dt {
    background: url(../img/preview-tit-bg.gif);
}
.pre-item dt span {
    background: none repeat #FFFFFF;
    display: inline-block;
    font-size: 18px;
    width: 100px;
    font-weight: normal;
    color: #333;
}
.pre-item dd {
    color: #808080;
    padding-bottom: 20px;
}
.pre-item .item-tit {
    color: #58667B;
    font-weight: bold;
    padding-bottom: 5px;
}
.pre-item .item-tit span {
    padding-left: 10px;
}
.pre-item .item-tit .sumtime {
    color: #999999;
    font-weight: normal;
}
.pre-item .item-tit .sumtime em {
    color: #D9D9D9;
}
.pre-item .item-des {
    line-height: 24px;
    padding-top: 10px;
}
.pre-item p {
    line-height: 24px;
    width: 530px;
    word-break: break-all;
    word-wrap: break-word;
}
.pre-item p.list {
    width: 550px;
    word-break: break-all;
    word-wrap: break-word;
}
.pre-item p .item-list {
    padding-right: 25px;
}
.pre-item th {
    color: #999999;
    line-height: 20px;
    padding-right: 25px;
    padding-top: 15px;
    vertical-align: top;
    width: 75px;
}
.pre-item td {
    padding: 15px 0;
}
.pre-item .line {
    border-bottom: 1px solid #F2F2F2;
}
.pre-item .list span {
    padding-right: 20px;
}
.pre-item .indent-wrap {
    padding-left: 40px;
    width: 490px;
}
.pre-item .indent-wrap em {
    float: left;
    margin-left: -40px;
}
.pre-item table {
    width: 100%;
}
.base-tit {
    font-size: 18px;
}
.base-info {
    background: url(../img/base-info-bg.gif) repeat-x #F9F9F9;
    border-top: 1px solid #DBDBDB;
    padding: 35px 73px;
}
.base-info ul {
    padding: 12px 0 0 100px;
}
.base-bd li {
    color: #808080;
    float: left;
    font-family: tahoma;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 250px;
    word-break: break-all;
    word-wrap: break-word;
}
.base-bd li.address {
    height: auto;
    overflow: auto;
    width: 500px;
}
.offer-list em {
    padding-right: 10px;
}
.exportDialog {
    padding: 30px 0;
    text-align: center;
}
.exportDialog p {
    color: #666666;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}
.exportDialog .btn-box {
    margin: 40px 0 20px;
    text-align: center;
}
.exportDialog .btn-box a {
    display: inline-block;
}
@media print {
body {
    vertical-align: top;
}
.preview-content {
    width: 654px;
}
.preview-header {
    display: none;
}
.preview-main {
    border: medium none;
    box-shadow: none;
    width: 654px;
}
.main-wrap, .base-info {
    padding: 0;
}

}
/*-----------------------------------------求职信-------------------------------------------------*/

.add-letter{
	background: url(../img/user/letter-bg.jpg) no-repeat center 0;
	text-align: center;
	height: 350px;
	padding-top: 60px;
}
.letter-title {
    color: #333333;
    font-size: 24px;
    height: 66px;
}

.letter-tip {
    color: #666666;
    font-size: 16px;
    height: 38px;
}

.btn-wrap {
    font-size: 16px;
    height: 38px;
    margin-top: 72px;
}
.btn-wrap #add-btn {
    background: url(../img/btn.png) no-repeat 0 -124px;
    color: #333333;
    display: inline-block;
    font-size: 16px;
    height: 38px;
    width: 130px;
    line-height: 38px;
}
#letter-form {
    display: none;
    margin: 16px auto 0;
    width: 510px;
}

#letter-con {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background:#F9F9F9;
    border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
    border-style: solid;
    border-width: 1px;
    height: 100px;
    line-height: 22px;
    overflow-y: auto;
    padding: 8px 0;
    resize: none;
    width: 508px;
    font-size: 14px;
}
#letter-form .input-tip {
    color: #999999;
    margin-top: 14px;
    text-align: left;
}

#letter-form .form-btn {
    margin-top: -18px;
    padding-right: 4px;
    position: relative;
    text-align: right;
    z-index: 100;
}
.form-btn .button{
	display: inline-block;
	height: 30px;
	background: url(../img/repeat.png) repeat-x 0 -242px;
	padding: 0 20px;
	letter-spacing: 5px;
	color: #333;
	line-height: 30px;
	border: 1px solid #ddd;
	margin-right: 10px;
	cursor: pointer;
}
.form-btn .letter-add-btn{
	background: url(../img/repeat.png) repeat-x 0 -278px;
	border: 1px solid #F09D1F;
}

/*投递反馈*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.feedback-main {
    padding: 20px 40px 70px;
    margin-top: 20px;
}
.screen-bar {
    float: right;
}
.screen-bar .text {
    background:#FFFFFF;
    border: 1px solid #C2C5CA;
    height: 18px;
    line-height: 18px;
    padding: 3px 4px;
    vertical-align: top;
    width: 257px;
    font-size: 12px;
}
.search-btn {
    background: url(../img/btn.png) no-repeat 0 -163px;
    display: inline-block;
    height: 26px;
    text-indent: -999em;
    vertical-align: top;
    width: 31px;
}
.feedback-list {
    padding-top: 12px;
}
.feedback-list table {
    table-layout: fixed;
    width: 100%;
}
.feedback-list thead td {
    background: none repeat #F7F7F7;
    border-bottom: 1px solid #D9D9D9;
    color: #999999;
    height: 30px;
    padding: 0 5px;
}
.feedback-list td {
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 5px;
}
.feedback-list td p{margin: 0;}
.feedback-loading {
    background: url(../img/loading.gif) no-repeat center center;
    height: 48px;
    width: 100%;
}
.state-tag li {
    float: left;
    height: 26px;
    padding-right: 5px;
}
.state-tag li span {
    background-image: url(../img/tab-arrow2.gif);
    background-repeat: no-repeat;
    display: block;
    height: 26px;
    line-height: 26px;
}
.state-tag li span.state1 {
    background-position: 0 0;
    color: #999999;
    text-align: left;
    text-indent: 8px;
    width: 82px;
}
.state-tag li span.state2 {
    background-position: 0 -52px;
    color: #999999;
    text-align: left;
    text-indent: 8px;
    width: 65px;
}
.state-tag li.current span.state1 {
    background-position: 0 -26px;
    color: #333333;
}
.state-tag li.current span.state2 {
    background-position: 0 -78px;
    color: #333333;
}
.state-tag li span.state3 {
    background: none;
}
.state-tag li a {
    white-space: nowrap;
}
.feedback-list a {
    color: #127DB3;
}
.feedback-list .time-td {
    color: #999999;
    font-family: tahoma;
    padding-right: 0;
}
.feedback-list .name-td .tit {
    font-weight: bold;
    padding-bottom: 8px;
}
.feedback-list .name-td p em {
    padding-right: 5px;
}
.feedback-list .hover td {
    background: #FAFAFA;
}
.feedback-list thead .hover td {
    background: #F7F7F7;
}
.feedback-list .remove {
    visibility: hidden;
}
.feedback-list tr.hover .remove {
    visibility: visible;
}

.select-input {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    vertical-align: middle;
    width: auto;
}
.select-input p {
    background: url(../img/select-arrow.gif) no-repeat right center #FFFFFF;
    border: 1px solid #C2C5CA;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
    text-indent: 0;
    width: 110px;
    margin-top: 0;
}
.select-input p.bs-p-select {
    background-color:;
    border: 1px solid #BABABA;
}
.select-input p.bs-p-over {
    background-color:;
    border: 1px solid #BABABA;
}
.select-input p span {
    float: right;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 15px;
}
.select-input ul {
    background: none repeat #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    left: 0;
    overflow-y: auto;
    padding: 1px;
    position: absolute;
    top: 25px;
    width: 113px;
    z-index: 1;
}
.select-input ul:after {
    display: none;
}
.select-input ul li {
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
}
.select-input ul li.bs-select, .select-input ul li.bs-over {
    background-color: #F1F1F1;
}
.current-tips .inn-con {
    color: #666666;
    padding: 5px;
}
a.remove {
    background: url(../img/input.png) no-repeat 0 -34px;
    display: block;
    height: 16px;
    text-indent: -9999em;
    width: 16px;
}
a.remove:hover{
    background: url(../img/input.png) no-repeat 0 -17px;
}

/*---------------------------------求职意愿----------------------------------*/
.intention-main {
    border: 1px solid #E5E5E5;
    padding: 20px 0;
}
.intention-content {
    margin: auto;
    width: 635px;
}
.intention-content .tips-normal {
    background: none repeat scroll 0 0 #FFFCD9;
    padding: 15px 0 15px 140px;
}
.intention-content .tips-normal .inner {
    background: url("http://9.assets.dajieimg.com/images/icons/alert32.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 42px;
}
.intention-content .tips-normal .inner-border {
    border-left: 1px solid #E5E5E5;
    padding-left: 10px;
}
.intention-content .tips-normal h1 {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}
.intention-content .tips-normal p {
    color: #333333;
    font-size: 12px;
    padding-top: 4px;
}
.intention-content .text {
    width: 250px;
}
.intention-content select {
    width: 260px;
}
.internship-content {
    padding-top: 20px;
}
.internship-content h3 {
    padding-bottom: 15px;
}
.blank-content {
    background: url("http://3.assets.dajieimg.com/up/position-invitation/images/blank-bg.jpg") no-repeat scroll 163px 45px rgba(0, 0, 0, 0);
    height: 170px;
    padding: 230px 0 0 390px;
}
.result-tips {
    background-color: #F3FFE6;
    border: 1px solid #9BCD81;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 4px 10px;
    vertical-align: middle;
}
.result-tips em {
    height: 14px;
    line-height: 12px;
    padding-top: 2px;
    vertical-align: middle;
}
.result-tips em .color {
    color: #E65C17;
}
.th-left th {
    padding-right: 0;
}
.th-left td {
    padding-left: 10px;
}
.intention-hd {
    height: 66px;
    text-align: center;
}
.intention-hd h1 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
}
.intention-hd p {
    color: #666666;
}
.filter-bar {
    background: url(../img/user/line2.jpg) no-repeat 0 bottom;
    height: 21px;
    position: relative;
}
.filter-bar span {
    background: url("http://8.assets.dajieimg.com/up/recommend/images/arrow-bottom.gif") no-repeat scroll right 7px #FFFFFF;
    cursor: pointer;
    padding: 0 25px 0 10px;
    position: absolute;
    right: 30px;
}
.filter-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    position: absolute;
    width: 130px;
    z-index: 10;
}
.filter-list li {
    height: 27px;
    line-height: 27px;
}
.filter-list li a {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
}
.filter-list li a:hover {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    text-decoration: none;
}
.tip-bar {
    color: #FF6600;
    padding-left: 120px;
}
.item-box {
    margin-top: 25px;
}
.item-box td p input.checkbox {
    vertical-align: middle;
}
.item-box td p label.checkbox {
    vertical-align: middle;
}

.internship {
    background: url("http://2.assets.dajieimg.com/up/recommend/images/sx.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 30px;
}
.dialog-box {
    height: 218px;
    position: absolute;
    width: 469px;
    z-index: 99991;
}
.internship-dialog {
    background: url("http://2.assets.dajieimg.com/up/recommend/images/dialog-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.internship-dialog .tip-text {
    color: #666666;
    margin: 90px 0 0 100px;
}
.internship-dialog .btn-box {
    margin: 30px 0 0 100px;
}
.fulltime-dialog {
    background: url("http://2.assets.dajieimg.com/up/recommend/images/dialog-bg.png") no-repeat scroll 0 -218px rgba(0, 0, 0, 0);
}
.fulltime-dialog .tip-text {
    color: #666666;
    font-size: 14px;
    margin: 54px 0 0 100px;
}
.fulltime-dialog .btn-box {
    margin: 68px 0 0 100px;
}
.guid-tip {
    background: url("http://6.assets.dajieimg.com/up/recommend/images/guide-tip.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 60px;
    padding: 50px 20px 30px;
    position: absolute;
    text-align: center;
    width: 270px;
    z-index: 99991;
}
.guid-tip p {
    font-size: 14px;
    padding-bottom: 20px;
}
/*确定用户中心类*/
.result-tips {
    background-color: #F3FFE6;
    border: 1px solid #9BCD81;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 4px 10px;
    vertical-align: top;
}
.result-tips em {
    height: 14px;
    line-height: 8px;
    padding-top: 2px;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    margin-top: 4px;
}
.result-tips .true{
    background: url(../img/icon.png) no-repeat 0 -112px;
    padding-left: 18px;

}

input.select-beauty {
    background-image: url(../img/select-arrow.gif);
    background-position: right center;
    background-repeat: no-repeat;
}
.add-box-result{
     background: url("../img/edit.png") no-repeat 3px 8px #8EDEFA;
    color: #FFFFFF;
    cursor: pointer;
    height: 25px;
    line-height: 24px;
    padding: 0 2px 0 16px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 29px;
}
.selectResult {
    border: 1px solid #E5E5E5;
    padding: 8px;position: relative;
}
.dig-selected a {
    background: url(../img/user/pickpad.gif) no-repeat left top rgba(0, 0, 0, 0);
    color: #333333;
    cursor: default;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 4px 2px;
    padding-left: 8px;
    padding-right: 20px;
    white-space: nowrap;
}
.dig-selected a:hover .delete{background-position: right bottom;}
.dig-selected a:hover{
    background-position: left bottom;
}
.intention-content .text {
    width: 250px;
}
.ticket .text{font-size: 12px;display: inline;}
.dig-selected a {
    color: #333333;
    cursor: default;
    line-height: 18px;
    white-space: nowrap;
}
.dig-selected a .delete {
    background: url(../img/user/pickpad.gif) no-repeat right top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 6px;
    margin-right: -20px;
    text-indent: -99999px;
    width: 20px;
}
table.fwy-form-smart {
    border-collapse: collapse;
}
.fwy-form-smart td, .fwy-form-smart th {
    font-family: 'tahoma','simsun';
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 20px;
    vertical-align: top;
}
.fwy-form-smart th em {
    color: #FF0000;
    font-family: 'simsun';
    margin-right: 5px;
    font-style: normal;
}
.fwy-form-smart td em.text-wrap, .fwy-form-base td em.text-wrap {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    vertical-align: top;
}
.fwy-form-smart th, .fwy-form-base th {
    padding-right: 10px;
}
.fwy-form-smart tr.last-tr td, .fwy-form-base tr.last-tr td, .fwy-form-smart tr.last-tr th, .fwy-form-base tr.last-tr th {
    padding-bottom: 11px;
}
.fwy-form-smart th {
    font-weight: normal;
    text-align: right;
    color: #333;
}
.fwy-form-smart td input.text {
    box-shadow: 0 0 3px -1px inset;
    border: 1px solid #ccc;
    border-width: 1px;
    font-size: 14px;
    height: 30px;
    line-height: 18px;
    padding: 4px;
    vertical-align: top;
}
.fwy-form-smart td span.input {
    display: inline-block;
    vertical-align: top;
}
.fwy-form-smart td .radio, .fwy-form-smart td .checkbox {
    vertical-align: top;
}
.fwy-form-smart td input.radio {
    height: 15px;
    margin: 8px 0 0;
    width: 15px;
}
.fwy-form-smart td input.radio12 {
    height: 15px;
    margin: 8px 0 0;
    vertical-align: top;
    width: 15px;
}
.fwy-form-smart td label.radio {
    display: inline-block;
    font-size: 14px;
}
.fwy-form-smart td label.checkbox {
    display: inline-block;
}
.fwy-form-smart td select {
    border: 1px solid #C1C1C1;
    font-size: 14px;
    height: 30px;
    line-height: 24px;
    margin: 0;
    padding: 4px;
    vertical-align: top;
}
.fwy-form-smart td textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-family: 'tahoma','simsun';
    font-size: 14px;
    height: 100px;
    line-height: 18px;
    margin: 0;
    padding: 5px 6px;
    resize: none;
    text-align: left;
    vertical-align: top;
    width: 300px;
}
/*简历列表*/
table.resume-list {
    border: 1px solid #CECBCE;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
table.resume-list tr td .rating{
    border: 1px solid #1E8D31;
    text-align: left;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
    height: 10px;
    line-height: 10px;
}
table.resume-list tr:hover{background: #EDFAFC;}
table.resume-list tr td .rating em {
    background: url(../img/repeat.png) repeat-x 0 -340px;
    display: inline-block;
    height: 10px;
}

/*----个人中心-----*/
/*---公共---*/
.g-content { padding:40px 0px 15px;}
.g-wrap { width:960px; margin:0px auto; border:1px solid #CCC; box-shadow: 0 0 8px 4px rgba(150, 152, 153, 0.3);  background:url(../img/user/L-nav-bg.jpg);}
.g-wrap .L-nav {float:left; width:179px; background:url(../img/user/L-nav-bg.gif) no-repeat;}
.g-wrap .R-room {float:right; width:779px; border-left:1px solid #ddd; background:#FFF; }
.L-nav h2 { margin:30px 0px 20px 65px; color:#666;}
.L-nav ul {margin-left:25px;}
.L-nav li {height:35px; font-size:14px; text-align:center; line-height:35px;margin-bottom: 10px;}
.L-nav li a:hover {color:#666; text-decoration:underline;}
.L-nav li a {color:#666;}
.L-nav .selected { background:#FFF; border:1px solid #CCC; border-right:0 none; display:inline-block; width:155px; _width:154px; position:relative; margin-right:-px; font-weight:bold;}
.R-room .box { width:690px; margin:0px auto; margin-top:40px; padding-bottom:60px;}
.R-room .box h2 {font-weight:normal; border-bottom:1px solid #CCC; height:35px; line-height:35px; margin-bottom:20px;}
/*----公共----*/

/*--头像--*/
.R-room .L-pic {float:left; width:360px; padding-left:40px; padding-top:25px; padding-bottom:50px;}
.R-room .L-pic img { width:360px; height:380px;}
.R-room .R-avatar {float:right; width:170px; padding:25px 50px 0px 50px;}
.R-avatar h3 {font-weight:normal; font-size:13px; line-height:25px; margin-bottom:5px; color:#999;}
.R-avatar .avatar1 { border:1px solid #CCC; overflow:hidden; margin-bottom:20px; height:150px; width:150px;}
.R-avatar .avatar2 { border:1px solid #CCC; overflow:hidden; margin-bottom:20px; height:80px; width:80px;}
.R-avatar .avatar3 { border:1px solid #CCC; overflow:hidden; margin-bottom:20px ;height:50px; width:50px;}

/*--修改密码--*/
.R-room .repair { width:690px; padding:0px 0px 100px 0px;}
.repair-table { margin:0px auto; margin-top:40px;}
.repair-table th  { width:100px; text-align:right; font-size:15px; font-weight:normal; color:#333;}
.repair-table th, .repair-table td {height:50px;}
.repair-table td {vertical-align:top; padding: 4px 0;}
.repair-table .r-pwd { width: 235px; color: #000000; font-size: 14px; height: 18px; line-height: 18px; overflow: hidden; padding: 7px 10px; vertical-align: middle;  
background: none repeat scroll 0 0 #F9F9F9; border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;}
.repair-table td a {vertical-align:bottom; margin-left:5px;}
.repair-table .r-sub { cursor:pointer; height:33px; background:#F90; background:url(../img/user/pwdownload.jpg) no-repeat; border:none 0; width:107px; color:#FFF; font-size:15px;}

/*--帐号管理--*/
.R-room .hint { line-height:25px; text-align:center; background:#fff39f; border:1px solid #CCC; margin-bottom:30px;}
.R-room .replace { line-height:30px; font-size:14px; padding-bottom:10px; border-bottom:1px solid #CCC; width:490px; margin:0px auto; margin-bottom:70px;}

/*--隐私设置--*/
.R-room h4 {line-height:30px; background:#f7f7f7; padding:0px 0px 0px 10px; font-size:14px; margin-bottom:5px;}
.R-room .set-privacy { margin-bottom:20px;}
.R-room .set-privacy h5 {padding:0px 0px 0px 10px; font-size:12px; line-height:25px; color:#666;}
.R-room .set-privacy p {line-height:30px; padding:0px; margin:0px; text-indent:10px; font-size:12px; color:#999;}
.R-room .set-privacy input {margin-right:8px; vertical-align:middle;}
.R-room .set-privacy .save { text-align:center; padding-top:50px;}
.set-privacy .save input { background:url(../img/user/pwdownload.jpg) no-repeat; width:109px; height:35px; cursor:pointer; color:#FFF}

/*编辑简历*/
table.fwy-form-base {
    border-collapse: collapse;
}

.form-area .fwy-form-base td, .form-area .fwy-form-base th {
    padding-bottom: 15px;
}
.fwy-form-base th {
    font-weight: normal;
    text-align: right;
}
.fwy-form-base td, .fwy-form-base th {
    font-size: 12px;
    line-height: 26px;
    padding-bottom: 20px;
    vertical-align: middle;
}
.fwy-form-smart th, .fwy-form-base th {
    padding-right: 10px;
}
.fwy-form-base th em {
    color: #FF0000;
    font-family: 'simsun';
    margin-right: 5px;
    font-style: normal;
}

.form-area .fwy-form-base td input.text {
    width: 230px;
}
.fwy-form-base td input.text {

    background: #F9F9F9;
    border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    padding: 2px 6px;
    vertical-align: top;
    width: 20px;
}
.fwy-form-base td select {
    border: 1px solid #C1C1C1;
    font-size: 12px;
    height: 26px;
    line-height: 20px;
    margin: 0;
    padding: 3px;
    vertical-align: top;
}
.form-area .fwy-form-base td input.year {
    width: 45px;
}
.fwy-form-base td span.input {
    display: inline-block;
    vertical-align: top;
}
.form-area .fwy-form-base td input.month {
    width: 35px;
}
.selectResult {
    background: url(../img/result-arrow.gif) no-repeat right 14px;
    border: 1px solid #CCCCCC;
    color: #999999;
    line-height: 28px;
    height: 28px;
    padding: 2px 30px 2px 10px;
    cursor: pointer;
}
.selectResult .sheng{font-style: normal;}
input.selectResult{
    cursor: auto;
    background: none;
    width: 170px;
    margin-right: 10px;
    font-size: 12px;
}

.fwy-form-base td .other-textarea {
    height: 20px;
    line-height: 20px;
    padding: 4px;
    width: 476px;
    font-size: 12px;
}
.pickpane {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    clear: both;
    margin-top: -1px;
    position: absolute;
    width: 160px;
    z-index: 9990;
}
.fwy-form-base td .textarea-check-tip {
    text-align: right;
    margin: 0;
    width: 380px;
}

.form-area .fwy-form-base td .edit-textarea {
    background: #FFFFFF;
}
.fwy-form-base td .edit-textarea {
    background: #F9F9F9;
    height: 70px;
    width: 390px;
}
.fwy-form-base td textarea {
    background: #FFFFFF;
    border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    height: 100px;
    line-height: 18px;
    margin: 0;
    padding: 3px 6px;
    resize: none;
    text-align: left;
    vertical-align: top;
    width: 300px;
}
/*企业用户*/
.welcome{color: #fff;}
i.hr-account,i.hr-logout{
    background: url(../img/icon.png) no-repeat 0 -159px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: 1px;
    overflow: hidden;
    vertical-align: text-top;
    width: 16px;
}
i.hr-logout{background-position: 0 -143px;}
a.hr-accounts{color:#73C9FF;margin-left: 10px;}
#hr-publish{margin-top: 40px;margin-bottom: 40px;}
#hr-publish li {
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    color: #666666;
    float: left;
    height: 210px;
    margin-left: 101px;
    padding: 20px;
    position: relative;
    width: 160px;
}
#hr-publish li:after {
    backface-visibility: hidden;
    bottom: 10px;
    box-shadow: 20px -30px 60px rgba(0, 0, 0, 0.3);
    content: "";
    height: 100px;
    position: absolute;
    right: 20px;
    transform: rotate(6deg);
    width: 40%;
    z-index: -1;
}
#hr-publish li:hover {
    background-color: #FFFFFF;
    border-color: #C4DEEE;
    box-shadow: 0 0 5px #C4DEEE inset;
}
#hr-publish li .type-icon, #hr-publish li .type-action {
    text-align: center;
}
#hr-publish li .type-action {
    margin: 5px 0 10px;
}
#hr-publish li .type-action .btn {
    padding: 8px 28px;
}
#hr-publish li .type-introduce {
    margin-bottom: 5px;
    margin-left: 10px;
}
#hr-publish li .icon-publish-type {
    background-image: url("../img/publish.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 105px;
    line-height: 105px;
    vertical-align: middle;
    width: 105px;
}
#hr-publish li .icon-publish-type-junior {
    background-position: 0 0;
}
#hr-publish li .icon-publish-type-highend {
    background-position: 0 -105px;
}
#hr-publish li .icon-publish-type-delegate {
    background-position: 0 -210px;
}
#hr-publish li .icon-publish-type-internal {
    background-position: 0 -315px;
}
#hr-publish li .icon-free {
    background-position: 0 -420px;
    height: 48px;
    line-height: normal;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 47px;
}
.control-box{border: 1px solid #ddd;margin-top: 20px; box-shadow: 0 1px 4px 1px #DDDDDD}
.control-box .box-title {
    background-color: #F0F0F0;
    border-bottom: 1px solid #DDDDDD;
    line-height: 35px;
    padding: 5px 15px;
}
.control-box .box-title .additional {
    color: #999999;
    float: right;
    line-height: 35px;
    position: relative;
    right: 0;
    top: 0;
}
.help-required {
    color: #FF6600;
    display: inline-block;
    font-family: "宋体",Arial,Helvetica,Arial,sans-serif;
    margin-right: 5px;
    vertical-align: middle;
}
.control-box .box-title h2 {
    font-size: 14px;
    line-height: 35px;
    margin: 0;
}

.steps-box .steps-item {
    padding: 10px 0 10px 60px;
}
.step-title{
  color: #4D9012;
font-size: 16px;
font-weight: bold;
line-height: 40px;
margin-bottom: 20px;
}

.step-title em {
    background: url(../img/stepbg.png) repeat;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}