.u_top_w{background: #660000;height: 100px;}
.u_top{width: 980px;margin: 0 auto;position: relative;height: 50px;}
.u_top .logo{position: absolute;top: 10px;}
.u_top .ad{position: absolute;left: 200px;top: 50%;}
.u_wrap{padding-bottom: 50px;background: #C4D4ED url(../img/user/bg.png) no-repeat 30% 2px;}
.u_main{margin-top: 100px;padding-bottom: 50px;}
.u_r_bg{background: #A1C0EF;}
.u_tit{text-align: center;margin-top: 30px;color: #fff;}
.u_main .input_w{
	width: 100%;
	height: 40px;
	margin-top: 20px;
}
.u_bg{background:#C4D4ED; }
.u_main .l_input{
	height: 35px;
	width: 280px;
	background: #fff;
	line-height: 35px;
	float: left;
	padding-right: 20px;
	padding-left: 5px;
}
.input_w .u_tips,.input_w .u_wtips{
	width: 220px;
	height: 35px;
	line-height: 35px;
	float: left;
	background: #cae7fb;
	position: relative;
	margin-left: 30px;
	border: 1px solid #99ccff;
	padding-left: 40px;
	margin-top: 2px;
}
.u_tips_i{
	width: 8px;height: 12px;
	background: url(../img/input.png) no-repeat 0 -83px;
	position: absolute;
	left: -8px;
	top: 10px;
	display: block;
}
.u_tips_s{
	width: 16px;
	height: 16px;
	background: url(../img/input.png) no-repeat 0 -50px;
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
}
.input_w .u_wtips{background: #ffecec;border: 1px solid #f5acad;}
.u_wtips .u_tips_i{background: url(../img/input.png) no-repeat -8px -83px;}
.u_wtips .u_tips_s{background: url(../img/input.png) no-repeat 0px -66px;}
.u_accept{margin-top: 20px;color: #fff;}
.u_accept a{color: #fff;}
.vm{vertical-align: middle;}
.u_main .btn_box{width: 300px;text-align: center;margin-top: 20px;}
.btn_box .l_submit{width: 170px;height: 42px;background: url(../img/btn.png) no-repeat;border: none;cursor: pointer;color: #fff;letter-spacing: 10px;font-size: 16px;}
.btn_box .l_submit:hover{background: url(../img/btn.png) no-repeat 0 -42px;}
.btn_box .r_submit{width: 128px;height: 38px;background: url(../img/btn.png) no-repeat 0 -85px;border: none;cursor: pointer;color: #fff;letter-spacing: 10px;font-size: 16px;}
.u_getnum{height: 37px;line-height: 37px;padding: 0 10px;font-size: 14px;background: url(../img/repeat.png) 0 -240px;border-left: 1px solid #c4bfc0;border-right: 1px solid #c4bfc0;display: inline-block;color: #333;}
.u_info{ border-left: 1px solid #FFFFFF; height: 275px;margin-top: 100px;padding-top: 38px;}
.u_info h2{	font-size: 16px;color: #666;}
.u_info h2 a{color: #eee838;}
.u_info ul{margin-left: 10px;margin-top: 30px;color: #fff;font-size: 14px;font-style:italic;margin-right: 10px;}
.u_info ul li{margin-bottom: 30px;padding-left: 25px;line-height: 25px;position: relative;}
.u_info li i{display: block;position: absolute;background: url(../img/input.png) no-repeat 0 -95px;width: 20px;height: 20px;left: 0;top: 8px;}
.u_footer{color: #fff;text-align: center;font-size: 14px;margin-top: 20px;}
.u_footer a{color: #fff;}
.u_footer a:hover{color: #FA7603;}
.u_login{width: 480px;height: 330px;background: #fff;padding-bottom: 30px;position: relative;z-index: 2;}
.u_login .u_tit{color: #444;}
.ml50{margin-left: 50px;}
.u_login .u_accept{color: #444;}
.u_l_info{background: url(../img/user/r.png) no-repeat right;height: 360px;position: relative;}
.u_l_info .r_btn{ background: url(../img/btn.png) no-repeat;border: medium none;color: #FFFFFF;cursor: pointer;font-size: 16px;height: 42px;letter-spacing: 10px;line-height: 42px;position: absolute;right: 260px;text-align: center;top: 248px;width: 170px;}
.u_l_info .r_btn:hover{background: url(../img/btn.png) no-repeat 0 -42px;}
.quick_menu{position: absolute;right: 0;top: 10px;}
.quick_menu ul{position: relative;}
.quick_menu li{float: right;}
#link_setting,#link_msg{margin:0 10px;border-radius: 2px 2px 0 0;cursor: pointer;display: block;height: 40px;line-height: 40px; padding: 0 15px;}
#link_setting.active,#link_msg.active{background: #626A6F;}
.quick_menu #icon_face{display: inline-block;height: 20px;width: 20px;}
.quick_menu #icon_msg{background: url(../img/icon.png) no-repeat; width: 16px;height: 14px;display: inline-block;}
#icon_msg.active{background: url(../img/icon.png) no-repeat 0 -16px;}
.quick_menu_box{background: #626A6F;border-radius: 2px;position: absolute;left: -80px;display: none;top: 34px;z-index: 1000;}
.quick_menu_con{background: #fff;width: 280px;margin: 0 5px 5px 5px;}
.quick_menu_box h2{margin: 10px 15px;font-size: 14px;color: #fff;}
.quick_menu_box .p_info,.quick_menu_box .p_msg{
	width: 100%;line-height: 25px;
    border-collapse: collapse;
    border-spacing: 0;
}
.quick_menu_box table tr td.data-icon {
    text-align: center;
    width: 50px;
}
.quick_menu_box table tr td {
    border-bottom: 1px dotted #CCCCCC;
    padding: 4px 0;
    text-align: left;
}
.quick_menu_box table tr:hover{background: #eee;}
.quick_menu_box table tr td.data-menu {
    padding-right: 10px;
    text-align: right;
    width: 80px;
}
.quick_menu_box .p_info tr:last-of-type td {
    border-bottom: 0 none;
}
.quick_menu_box .p_msg tr:hover{background: none;}
.data-icon .p_face{width: 30px;height: 30px;margin-top: 5px;}
.icon{
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    vertical-align: text-top;
    width: 24px;
}
.icon-settings-profile {
    background-position: 0 -29px;margin-top: 2px;
}
.icon-settings-password {
    background-position: 0 -44px;margin-top: 2px;
}
.icon-settings-privacy {
    background-position: 0 -59px;margin-top: 2px;
}
.icon-settings-help {
    background-position: 0 -74px;margin-top: 2px;
}
/*简历*/
.matchbox-wrap .sync {
    clear: both;
}

.sidecolumnwrap {
    float: left;
    width: 268px;
}
.sidecolumn {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 268px;
}
.drag-model {
    box-shadow: 2px 2px 0 #D2D3D4;
}
.maincolumn {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    float: right;
    overflow: hidden;
    width: 675px;
}
.border-bottom {
    border-bottom: 1px solid #D9D9D9;
}
.dashboard {
    background-image: url("http://8.assets.dajieimg.com/up/resume/images/progress-panel-2.png");
    background-repeat: no-repeat;
    height: 141px;
    overflow: hidden;
    padding-top: 1px;
}
.dashboard .inner {
    background-image: url("http://2.assets.dajieimg.com/up/resume/images/progress-panel1.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 20px;
    height: 60px;
    margin: 15px 0 0 22px;
    padding: 30px 0 0;
    text-align: center;
    width: 92px;
}
.dashboard .i-2 {
    background-position: 0 0;
}
.dashboard .i-3 {
    background-position: 0 -153px;
}
.dashboard .i-4 {
    background-position: 0 -306px;
}
.dashboard .i-5 {
    background-position: 0 -459px;
}
.dashboard .i-6 {
    background-position: 0 -612px;
}
.dashboard .i-7 {
    background-position: 0 -765px;
}
.dashboard .i-8 {
    background-position: 0 -918px;
}
.dashboard .i-9 {
    background-position: 0 -1071px;
}
.dashboard .i-10 {
    background-position: 0 -1224px;
}
.propress-s {
    background-position: 0 0;
}
.propress-m {
    background-position: 0 -142px;
}
.propress-l {
    background-position: 0 -284px;
}
.resume-item-box {
    padding: 0 30px;
}
.item-list dd, .disable-list dd {
    background: url(../img/item-arrow.gif) no-repeat 0 15px;
    border-bottom: 1px solid #E6E6E6;
    height: 15px;
    line-height: 15px;
    padding: 10px 0 10px 13px;
}
.item-list .true, .disable-list .true {
    background: url(../img/icon.png) no-repeat 0 -89px;
    display: inline-block;
    float: right;
    height: 8px;
    margin-top: 3px;
    width: 11px;
}
.item-list .false, .disable-list .false {
    color: #CCCCCC;
    float: right;
}
.bottom-bar {
    padding: 20px 0;
    text-align: right;
}
.bottom-bar a {
    background: url(../img/icon.png) no-repeat 0 -97px;
    color: #127DB3;
    padding-left: 20px;
}
.item-section {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D9D9D9 #D9D9D9 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}
.item-section h3 {
    background: none repeat scroll 0 0 #F4F4F4;
    height: 26px;
    line-height: 26px;
    padding: 5px 20px;
    z-index: 9;
}
.edit-btn {
    background: url(../img/edit-btn.gif) no-repeat 0 0 ;
    color: #333333;
    float: right;
    height: 26px;
    line-height: 26px;
    padding-left: 25px;
    width: 40px;
    font-weight: normal;
    font-size: 12px;
}
.edit-btn:hover {
    color: #333333;
    text-decoration: none;
}
.add-btn {
    background: url(../img/edit-btn.gif) no-repeat 0 -26px;
    color: #333333;
    float: right;
    height: 26px;
    line-height: 26px;
    padding-left: 25px;
    width: 40px;
    font-weight: normal;
    font-size: 12px;
}
.add-btn:hover {
    color: #333333;
    text-decoration: none;
}
.item-bd {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px 48px;
}
.info-area th {
    color: #999999;
    text-align: left;
}
#base-info th, #contact-info th {
    padding-right: 15px;
    text-align: right;
}
.info-area td {
    padding: 6px 0;
}

.info-area thead td {
    border-bottom: 1px solid #E6E6E6;
    color: #999999;
}
.item-bd .table-list td, .item-bd .table-list th {
    border-bottom: 1px solid #F3F3F3;
}
.item-bd .table-list .edit {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-right: 10px;
}
.blank-area {
    padding: 20px 0;
    text-align: center;
}
.hidden .blank-area {
    display: none;
}
.hidden .hidden-tr {
    display: none;
}
.u-photo {
    float: right;
    overflow: hidden;
    width: 135px;
}
.u-photo .photo-area {
    border: 1px solid #CCCCCC;
    height: 130px;
    position: relative;
    width: 130px;
}
.u-photo .photo-area img {
    display: block;
    height: 130px;
    width: 130px;
}

.photo-mask {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 130px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 130px;
}
.showphoto {
    padding: 15px 0;
    text-align: center;
}

.dig-selected em.sheng {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 4px 2px;
    white-space: nowrap;
}
.city {
    width: 125px;
}
.workyear {
    width: 255px;
}
.sidecolumn .mask-area {
    position: relative;
    z-index: 9;
}
.item-section .locked {
    position: relative;
    z-index: 9;
}
.resume-masking {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    left: -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.locked .resume-masking {
    display: block;
}
.locked .t-color {
    color: #666666;
}
.disable {
    color: #999999;
    cursor: default;
}
.disable:hover {
    color: #999999;
    text-decoration: none;
}
a.disable span {
    color: #999999;
    cursor: default;
}
a.disable:hover {
    color: #999999;
    cursor: default;
    text-decoration: none;
}

.item-bd .table-list .form-area td, .item-bd .table-list .form-area th {
    border: medium none;
}
#profile-birthdate-input-year, #profile-birthdate-input-month {
    width: 68px;
}
#profile-birthdate-input-date {
    width: 66px;
}
.exam-select {
    margin-right: 10px;
    width: 200px;
}
.drag-tips {
    display: none;
}
.drag-model .drag-tips {
    color: #666666;
    line-height: 22px;
    margin: 7px 0 17px;
}
.drag-model .resume-item-box {
    padding: 0 20px;
}
.drag-model .item-list dd, .drag-model .disable-list dd {
    background-color: #E6F0F5;
    background-position: 10px 12px;
    border-bottom: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    cursor: all-scroll;
    margin-bottom: 5px;
    padding: 8px 10px 8px 23px;
}
.drag-model .disable-list dd {
    color: #999999;
    cursor: default;
}
.hidden-list, .drag-model-tit {
    display: none;
}
.hidden-list {
    padding-top: 15px;
}
.hidden-item {
    display: none;
}
.drag-model .hidden-list, .drag-model .drag-model-tit {
    display: block;
}

.g9 {
	color: #999;
}
.datatime {
	font-family: "宋体";
	color: #ccc;
}
.g3 {
	color: #333;
}
.g6 {
	color: #666;
}
.gc {
	color: #ccc;
}
.orange {
	color: #fd5400;
}
a.orange:hover {
	color: #fd5400;
}
.red {
	color: #f00;
}
.green {
	color: #20800D;
}
.highlight {
	color: #E65C17;
}
.fwy-highlight {
	color: #d56e00;
}
.surface {
	color: #E65C17;
}
.hasbeen {
	color: #1687D9;
}
select {
	vertical-align: middle;
	font: inherit;
	height: 20px;
}
.options {
	float: right;
	display: block;
}
.error {
	color: red;
}
label.checkbox, label.radio, label.text {
	padding: 0 6px 0 4px;
	padding: 0 0 0 4px\9;
	_padding: 0 0 0 2px;
	vertical-align: middle;
}
.ua-ie6 label.checkbox, .ua-ie6 label.radio, .ua-ie6 label.text {
	vertical-align: baseline;
}
.ua-ie6 input.checkbox {
	vertical-align: baseline;
}
.small {
	font-size: 12px;
}
.large {
	font-size: 14px;
}
table.f14 td, .f14 {
	font-size: 14px;
}
.f12 {
	font-size: 12px;
	font-weight: normal;
}
.f16 {
	font-size: 16px;
}
.f20 {
	font-size: 20px;
}
.borderNone {
	border: none;
}
.b{font-weight: bold;}

.nav2-box {
	position: relative;
	width: 960px;
	border-bottom: 1px solid #aaa;
	height: 40px;
	
}
.nav2-box .new-job {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
}
.nav2-box .icon16 {
	margin-right: 9px;
}
.nav2 {
	height: 40px;
	padding-left: 0;
	border: none;
	margin-bottom: -1px;
	position: absolute;
}
.nav2 li {
	float: left;
	padding-right: 5px;
	width: 110px;

}
.nav2 .active{
	background: #525D6A;
	color: #fff;
}
.nav2 li a {
	display: block;
	height: 40px;
	padding-left: 4px;
	background: url(../img/repeat.png) repeat-x;
	background-position: 0 -62px;
	color: #333;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}
#header, #content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
#header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.subsubNav {
	margin: 10px auto;
	width: 960px;
	padding-left: 20px;
}
.subsubNav a {
	cursor: pointer;
	line-height: 35px;
}
.subsubNav em {
	margin: 0 4px 0 8px;
	display: inline-block;
	color: #ccc;
}
.resume_bg{
	background: url(../img/user/jianbg.png) repeat-x;
}
.resume{
	background: url(../img/user/jian.jpg) no-repeat center 0;
	padding-top: 134px;
}